<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.example.ioagh.gamefinder">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:name=".MainApplication"
            android:allowBackup="true"
            android:icon="@mipmap/gf_logo"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/gf_logo"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.main.PickedGameActivity"></activity>
        <activity android:name=".ui.main.ChatListActivity" />
        <activity android:name=".ui.main.ChatActivity" />
        <activity android:name=".ui.profile.UserChatListActivity" />
        <activity android:name=".ui.profile.EditProfileActivity" />
        <activity android:name=".ui.profile.UserGameListActivity" />
        <activity android:name=".ui.main.ChooseGameActivity" />
        <activity
                android:name=".ui.profile.ProfileActivity" />
        <activity android:name=".ui.main.SearchGameActivity" />
        <activity android:name=".ui.main.AddGameActivity" />
        <activity android:name=".ui.main.ApplicationActivity" />
        <activity android:name=".ui.RegisterActivity" />
        <activity android:name=".ui.LoginActivity" />
        <activity
                android:name=".MainActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyBLBClcyV_7xClAOFalX7oZJYeP2dR2cZA"/>

    </application>

</manifest>